<section class="hero-area">
            <h1>Discover new people at social experiences</h1>
            <p>Verified profiles only, screened using a five-tier verification system</p>
            <a href="#" class="link-btn">Signup</a>
        </section>
    </header>