// fonts
$heading_font  : 'Lobster', cursive;
$para_font : 'Barlow', sans-serif;


// colors
$bg_color_1 : #4D40B8;
$bg_color_2 : #B354BE;

$bg_color_warning : #ED1C24;
$bg_color_info : #50C9CE;

$font_light : #FDFFFC;