    <section class="hero-area">
        <img src="{{method.image_url}}" alt="" style="width:300px;">
        <h1>{{method.title}}</h1>
        <p>Are you Sure you want to delete ?</p>
        <form method="POST" to='/method/{{method.id}}/delete'>
            <input type="hidden" name="_csrf" value={{csrfToken}}>
            <button class="button-2">Delete</button>
        </form>
    </section>
</header>